@import "tailwindcss";
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  /* colors */
  --bg-color: #f2ead9;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

aside {
  background-color: var(--bg-color);
}
